[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "==1.25.0"
pandas = "==1.4.0"
dash = "*"
plotly = "*"
jupyter-dash = "*"
pipfile = "*"

[requires]
python_version = "3.10"
